@keyframes colorhue{
    from {-webkit-filter: hue-rotate(120deg); filter: hue-rotate(120deg);}
    to {-webkit-filter: hue-rotate(120deg); filter: hue-rotate(120deg);}
}

.edit {
    animation: colorhue 1s linear infinite;
}
